/**
index sass file
 */
@import "var";
@import "reset";
@import url('http://at.alicdn.com/t/font_lkfc2ns5lv7vi.css');
i.iconfont{
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
