/**
theme color
 */
$bg-color:#444B6C;
$mix-color:#F2FF9B;
$mix-color-s:#6AF79A;
$mix-color-m:#57ACC5;
$text-color:#fff;
$text-color-l:rgba(#FBFFA3,.8);
$text-color-m:rgba(#FBFFA3,.5);
$text-color-s:rgba(#FBFFA3,.3);
/**
font-size
 */
$font-size-s-s:10px;
$font-size-s:12px;
$font-size-m:14px;
$font-size-m-x:16px;
$font-size-l:18px;
$font-size-l-x:22px;
