/**
theme color
 */
$bg-color: #252A34;
$deep-bg: rgba(55, 8, 167, .7);
$large-bg: rgba(55, 8, 167, .3);
$mix-color: #FFFB85;
$mix-color-s: #08D9D6;
$mix-color-m: #57ACC5;
$text-color: #3401B5;
$text-color-l: rgba(#ffffff, .9);
$text-color-m: rgba(#ffffff, .7);
$text-color-s: rgba(#ffffff, .5);
/**
font-size
 */
$font-size-s-s: 10px;
$font-size-s: 12px;
$font-size-m: 14px;
$font-size-m-x: 16px;
$font-size-l: 18px;
$font-size-l-x: 22px;
